---
layout: layouts/base.njk
title: Blog posts
note: phasing this out
---
<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
<div id="search" class="search"></div>
<script src="/_pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
<section class="post-grid">
{% for post in collections.posts | reverse %}
  <article class="post-card">
    <a href="{{ post.url }}">
      {% if post.data.image %}
      <img src="{{ post.data.image }}" alt="{{ post.data.title }}">
      {% endif %}
      <h2>{{ post.data.title }}</h2>
    </a>
  </article>
{% endfor %}
</section>